.editor-container {
  position: relative;
  width:40%;
  left: 2%;
  float:left;
}

.editor-options {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  background-color:#2e2e2e;
  margin-top: 0px;
  width: 100%;
  border-radius: 5px;
  border-bottom: 2px solid #454545;
}

.editor-options.editor-options> div > button {
  background-color: #2e2e2e;
}

.editor-options.editor-options > div > div > a:hover {
  width: 80%;
}

.editor-options.editor-options > div > div > a:active {
  background-color: #fff;
  color: #7a7a7a;
}

.editor-options > div > button{
  background-color: #2e2e2e;
  border: 0px;
  padding: 0px;
  width: 50px;
  height: 25px;
  margin-bottom: 15%;
  margin-left: 20%;
}

.editor-field {
  width: 45vh;
  height: 50vh;
}

.editor-options > svg{
  position: relative;
  margin-left: auto;
  border: 0px;
  padding: 30px;
}

.editor-options.editor-options > div > button:active{
  background-color: #2e2e2e;
}

.editor-options > div > button:hover{
  background-color: #2e2e2e;
  color: rgb(132, 135, 135);
  border: 0px;
}

.user-info {
  width: 100%;
  background-color:#1E1E1E;
  border-top: 2px solid #454545;
  border-bottom: 2px solid #454545;
  margin-top: 1px;
  height: 19.5vh;
  font-size: 15px;
  border-radius: 5px;
}
.buttons-nav {
  width: 99.5%;
  border-radius: 4px;
  display: flex;
  border-bottom: solid 1px #454545;
  padding: 1px;
  background-color: #2E2E2E;
}

.buttons-nav > Button {
  color: #fff;
  margin-left: 5px;
  height: 30px;
  font-size: 12px;
  background-color: #2E2E2E;
  border: 0;
  line-height:10px;
  transition: 0.5s;
  border-radius: 5px;
}
.buttons-nav > Button:hover {
  background-color: #3f3f3f;
}
.compiler-result {
  width: 100%;
  height: 80%;
  text-align: left;
}
.compiler-result > textarea {
  margin-top: 10px;
  width: 97%;
  height: 84%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #1E1E1E;
  border-style: none;
  margin-left: 5px;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #20C20E;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
}

.compiler-result > textarea::-webkit-scrollbar {
  width: 1em;
}

.compiler-result > textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.compiler-result > textarea::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.compiler-result > textarea:focus {
    outline-width: 0;
}
.tests-are {
  width: 100%;
  height: 100%;
  text-align: left;
}
.tests-area > textarea {
  margin-top: 10px;
  width: 97%;
  height: 12vh;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #1E1E1E;
  border-style: none;
  margin-left: 5px;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #dedede;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
}

.tests-area > textarea::-webkit-scrollbar {
  width: 1em;
}

.tests-area > textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tests-area > textarea::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.tests-area > textarea:focus {
    outline-width: 0;
}

.editor-actions {
  display: flex;
  align-items:end;
  width: 102%;
  margin-top: 1px;
  margin-left: 0px;
  height: 6vh;
  font-size: 15px;
}

.editor-actions > button {
  margin-left: auto;
  margin-right: 20px;
}

