.editor-container {
  position: relative;
  width:40%;
  left: 2%;
  float:left;
}

.editor-options {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  background-color:#2e2e2e;
  margin-top: 0px;
  width: 101%;
  border-radius: 5px;
  border-bottom: 2px solid #454545;
}

.editor-options.editor-options> div > button {
  background-color: #2e2e2e;
}

.editor-options > div > button{
  background-color: #2e2e2e;
  border: 0px;
  padding: 0px;
  width: 50px;
  height: 25px;
  margin-bottom: 15%;
  margin-left: 20%;
}

.editor-field {
  width: 45vh;
  height: 50vh;
}

.editor-options > svg{
  position: relative;
  margin-left: auto;
  border: 0px;
  padding: 30px;
}

.editor-options.editor-options > div > button:active{
  background-color: #2e2e2e;
}

.editor-options > div > button:hover{
  background-color: #2e2e2e;
  color: rgb(132, 135, 135);
  border: 0px;
}

.compile-info {
  width: 101%;
  background-color:#2e2e2e;
  border-top: 2px solid #454545;
  border-bottom: 2px solid #454545;
  margin-top: 1px;
  height: 15vh;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-actions {
  display: flex;
  align-items: center;
  width: 102%;
  margin-top: 1px;
  margin-left: 0px;
  height: 6vh;
  font-size: 15px;
  position: relative;
  padding: 10px;
}

.editor-actions > button {
  position: relative;
  margin-left: auto;
}

