.editor-container {
  position: relative;
  width:40%;
  left: 2%;
  float:left;
}

.editor-options {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.02);
  margin-bottom: 3px;
  border-radius: 10px;
  margin-top: 0px;
  width: 100%;

}

.editor-field > div{
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  width: 100%;
  display: flex;
}

.editor-options > div > button{
  background-color: #141414;
  border: 0px;
  padding: 0px;
}
.editor-options > svg{
  position: relative;
  margin-left: auto;
  border: 0px;
  padding: 0px;
}

.editor-options > div > button :hover{
  background-color: #141414;
  border: 0px;
}

/* .editor-options {

}
.editor-container > div > div > div > pre {
  min-height: 600px;
  max-height: 900px;
  background-color: rgba(255, 255, 255, 0.02);
}
.editor-container > div {
  height: 60px;
}
.editor-options > div {
  float: left;
  padding: 5px;
}
.editor-options > div > button {
  font-family: 'Roboto', sans-serif;
  background-color: #404348;
  border-color: black;
}
.editor-options > div > button:hover{
  background-color: #515459;
  border-color: black;
}
.editor-options > div > button{
  background-color: #515459;
  border-color: black;
}
.editor-actions{
  margin-top: 40px;
  margin-left: 820px;
}
 */
