.App-header{
    width: 100%;
    height: 100%;
    align-items: end;
}
.editor-container {
    margin-right: 50px;
    margin-bottom: 200px;
}
.editor-field {
    width: 900px;
    height: 600px;
}
.editor-container > div > div > div > pre {
    min-height: 600px;
    max-height: 900px;
}
.editor-options {
    margin-top: 10%;
}
.editor-options > div {
    float: left;
    padding: 5px;
}
.editor-options > div > button {
    font-family: 'Roboto', sans-serif;
    background-color: #404348;
    border-color: black;
}
.editor-options > div > button:hover{
    background-color: #515459;
    border-color: black;
}
.editor-options > div > button{
    background-color: #515459;
    border-color: black;
}
.editor-actions{
    margin-top: 40px;
    margin-left: 820px;
}
.editor-options > svg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    float: right;
    padding: 10px;
}