.editor-container {
    position:absolute;
    bottom:10%;
    right:10%;
}
.editor-container{
    position: fixed;
    bottom: 0;
    right: 5%;
}
.editor-field {
    width: 500px;
    height: 600px;
}
.editor-container > div > div > div > pre {
    min-height: 500px;
    max-height: 900px;
}
.editor-options {
    margin-top: 10%;
}
.editor-options > div {
    float: left;
    padding: 5px;
}
.editor-options > div > button {
    font-family: 'Roboto', sans-serif;
    background-color: #404348;
    border-color: black;
}
.editor-options > div > button:hover{
    background-color: #515459;
    border-color: black;
}
.editor-options > div > button{
    background-color: #515459;
    border-color: black;
}
.editor-actions{
    position: relative;
    left: 40%;
    top:-20px;
}
.editor-options > svg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    float: right;
    padding: 10px;
}